{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <h2>Active Listings</h2>
    {%if listings%}
    <div class = "container-fluid center" style="text-align:center">
    {% for listing in  listings %}
        {% if forloop.first %}<div class="row">{% endif %}
        <div class="col">
            <div class = "hovereffect">
                <a href = "{%url 'auctions:page' listing.id%} ">
                <img class="img-responsive" width="300" src={%meida "/"%}{{listing.image}}" alt="{{listing.image}}">
            </div>
            <div>
                <div class="row">
                    <div class="col-6">
                            <text>Likes: {{listing.likes}}<text>
                     </div>
                    <div class="col-6">
                        {%if listing.id in userlikes%}
                        <form action = "{%url 'auctions:unlike' listing.id%}" method = "POST">
                            {% csrf_token %}
                        <input type="submit" name = {{listing}} value = "Liked">
                        {% else %}
                        <form action = "{%url 'auctions:like' listing.id%}" method = "POST">
                            {% csrf_token %}
                        <input type="submit" name = {{listing}} value = "Like" >
                        {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
        </div>
    {% endif %}
{% endblock %}



