{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <h2>Active Listings</h2>
    {%if listings%}
    <div class = "container-fluid center" style="text-align:center">
    {% for listing in  listings %}
        {% if forloop.first %}<div class="row">{% endif %}
        <div class="col">
            <div>
                <a href="#">
                    <img width="300" src="{{listing.image}}" alt="{{listing.image}}">
                </a>
            </div>
            <div>
            <a href=#>Likes: {{listing.likes}} </a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
        </div>
    {% endif %}
{% endblock %}



