{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <h2>Active Listings</h2>
    {%if listings%}
    <div class = "container-fluid align-items-lg-center" style="text-align:center">
    {% for listing in  listings %}
        {% if forloop.first %}<div class="row col-md-12">{% endif %}
        <div class="col-md-4">
            <div class = "hovereffect">
                <a href = "{%url 'auctions:page' listing.id%} ">
                <img class="img-responsive" width="300" src="{%static "/"%}{{listing.image}}" alt="{{listing.image}}">
            </div>
            <div>
                <div class="row justify-content-center">
                    <div class="col-3 " style = "text-align: center; padding: 6px 0;" >
                        <text style ="color:black ; display: inline-block;"> Likes: {{listing.likes}} </text>
                     </div>
                    <div class="col-3">
                        {%if listing.id in userlikes%}
                        <form action = "{%url 'auctions:unlike' listing.id%}" method = "POST">
                            {% csrf_token %}
                        <input type="submit" name = {{listing}} value = "Liked"  class="btn btn-dark" >
                        {% else %}
                        <form action = "{%url 'auctions:like' listing.id%}" method = "POST">
                            {% csrf_token %}
                        <input type="submit" name = {{listing}} value = "Like"  class="btn btn-dark">
                        {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
        </div>
    {% endif %}
{% endblock %}



