{% extends "auctions/layout.html" %}
{% load static %}
{% block title %}
{{listing.itemName}}
{% endblock title %}
{% block body %}
{%if listing%}
<div class = "container">
    <div class = "row">
        <div class = "col">
            <img class="img-responsive" width="500" src="{% static '/'%}{{listing.image}}" alt="{{listing.itemName}}">
        </div>
        <div class = "col justify-content-center">
            <h1>{{listing.itemName}}</h1>
            <ul class="list-group list-group-flush "> 
            <li class="list-group-item"> Catagory: {{listing.catagory}}</li>
            <li class="list-group-item"> Item Name: {{listing.itemName}}</li>
            <li class="list-group-item"> Price: ${{listing.price}}</li>
            <li class="list-group-item"> Posted by: {{listing.poster}}</li>
            <li class= "list-group-item"> Created on: {{listing.date}}</li>
            </ul>

            <div class="row">
                <div class="col-md-3">
                    <h2>Highest Bid : {}</h2>
                        
                </div>
                <div class="col-md-6">
                    <label for="curreny">Zip</label>
                    <input type="number" class="form-control" id="inputZip">
                </div>
            </div>
        </div>
</div>
{% endif %}
<div class ="container-flex">
            <div class="form-group">
                <form   action = "{%url 'auctions:unlike' listing.id%}" method = "POST">
                    {% csrf_token %}
                 <textarea  class="form-control" name = "comment" rows="3" cols="100" placeholder = "Commment"> </textarea>
                <input type="submit" name = {{listing}} value = "Submit">
                </form>
            </div>
{% comment %}  {% endcomment %}
    {% if commments %}
        {% for comment in comments%}
         <div class = "row">
                <div class = "col">
                    <comment>
                </div>
        {% endfor %}
    {% else %}
    <div class = "row">
        <div class  = "col">
        <p> No comments<p>
    </div>
    {% endif %}
{% endblock body %}


