{% extends "auctions/layout.html" %}
{% load static %}
{% block title %}
{{listing.itemName}}
{% endblock title %}
{% block body %}
{%if listing%}
<div class = "container">
    <div class = "row">
        <div class = "col">
            <img width="500" src="{% static '/'%}{{listing.image}}" alt="{{listing.itemName}}">
        </div>
        <div class = "col justify-content-center">
            <h1>{{listing.itemName}}</h1>
            <ul class="list-group list-group-flush "> 
            <li class="list-group-item"> Catagory: {{listing.catagory}}</li>
            <li class="list-group-item"> Item Name: {{listing.itemName}}</li>
            <li class="list-group-item"> Price: ${{listing.price}}</li>
            <li class="list-group-item"> Posted by: {{listing.poster.username}}</li>
            <li class= "list-group-item"> Created on: {{listing.date}}</li>
            </ul>

            <div class="row">
                <div class="col justify-content-center">
                    <h2>Highest Bid:
                            {% if highestbid %}
                                {{highestbid}} 
                            {% else %} 
                            No Current Bids
                            {% endif %}
                    </h2>
                </div>
                <div class="col">
                    <label for="curreny">Bid</label>
                    <form action = "{% url 'auctions:placeBid' listing.id %}" method = 'POST'>
                        {% csrf_token %}
                        <input type="number" min="0" max = "{{listing.price}}" name = "bid" required>
                        <input type="Submit" class="btn-danger" value = "Place Bid">
                    </form>
                </div>
                 <div class="col">
                    <label for="curreny">Buy for asking price</label>
                    <form action = "{% url 'auctions:buy' listing.id %}" method = 'POST'>
                         {% csrf_token %}
                        <input type="Submit" class="btn-danger" value = "Buy">
                    </form>
                </div>
            </div>
        </div>
</div>
{% endif %}
<div class ="container-flex">
            <div class="form-group">
                <form   action = "{%url 'auctions:comment' listing.id%}" method = "POST">
                    {% csrf_token %}
                 <textarea  class="form-control" name = "comment" rows="3" cols="100" placeholder = "Commment"> </textarea>
                <input type="submit" value = "Submit">
                </form>
            </div>
{% comment %}  {% endcomment %}
    {% if comments %}
        {% for comment in comments%}
        <div class = "container">
            <div class = "row">
                <div class = "col">
                    <h3>{{comment.placeby.username}}</h3>
                </div>
                <div class = "col-2">
                    <p>{{comment.time}}</p>
  
                </div>
            </div>
            <div class = "row">
                <p>{{comment.comment}}</p>
            </div> 
            {% if request.user.username == comment.placeby.username %}
            <div class = "row">
                <form  action = "{%url 'auctions:dcomment' listingID=listing.id commentID=comment.id %}" method = "delete">
                    {% csrf_token %}
                <input type="submit" value = "Delete">
                </form>
            </div>
            {% endif %}
        </div>

            <hr/>

        {% endfor %}
    {% else %}
    <div class = "row">
        <div class  = "col">
        <p> No comments<p>
    </div>
    {% endif %}
{% endblock body %}


